<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>websites layput</title>
</head>
<body>
    <div style="border: 1px solid black; width: 99%; height: 80px;"></div>
    <div style="border: 1px solid black; width: 20%; height: 500px; float: left;"></div>

    <div style="border: 1px solid black; width: 79%; height: 500px;float: left; ">
        <div style="border: 1px solid black; width: 90%; height: 80px; margin-left: 5%;margin-top: 20px;"></div>
        <div style="border: 1px solid black; width: 40%; height: 350px; margin-left: 5%; margin-top:10px ; float: left;"></div>
        <div style="border: 1px solid black; width: 40%; height: 350px; margin-left: 55%; margin-top:10px ; ;"></div>



        
        
    </div>

    <div style="border: 1px solid black; width: 99%; height: 80px; margin-top: 500px;"></div>


    
</body>
</html>