
*{
    margin: 0;
    padding: 0;
    font-family:  'popins' sans-serif;
}
body{
    background: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px  5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;

}
.nav_left , .nav_right{
    display: flex;
    align-items: center;
}
.nav_left ul li{
    list-style: none;
    display: inline-block;
}
.nav_left ul li{
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.seach_box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.seach_box img{
    width: 18px;

}
.seach_box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.nav-user-icon{
    margin-left: 30px;
}
.online{
    position: relative;
}
.online:after{
    content: '';
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;


}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}
.left-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a , .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a i{

width: 25px;
margin-right: 15px;    
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
    


